.menu-0 a {
    display: block;
    letter-spacing: .5px;
    height: 32px;
    line-height: 35px;
    position: relative;
    text-indent: 9px;
    width: 216px;
    margin-bottom: 18px;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 1px;
}

.cabecera-1{
	color: #424242;
	text-transform: uppercase;
	font-weight: 800;
	 font-size: 17px;
}

.cabecera-2{
	color: #757575;
    font-size: 16px;
    font-weight: 500;
}

.menu-0 a:focus {
	outline: none;
}

.menu-1 {
	margin-top: -3px;
	margin-bottom: 3px;
}

.menu-1 span {
	background-image: none;
}

.menu-1 a {
	background: #FFFFFF;
	text-indent: 43px;
	margin-bottom: 0px;
	background: url(../img/disc.png) 24px 10px no-repeat;
}


.menu-2 a {
	background: #FFFFFF;
	text-indent: 60px;
	margin-bottom: 0px;
	background: url("../img/disc.png") 42px 6px no-repeat;
}

.menu-3 a {
	background: url("../img/disc.png") 56px 6px no-repeat;
	text-indent: 76px;
}

.menu-0 a:hover {
	color: #424242;
	cursor: pointer;
}

.menu-1 a:hover {
	cursor: pointer; 
    color: #ff7200;
	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
		
}

.menu-1 a:active {
    color: #ff7200;
}

.menu-2 a:hover {
	color: #000000;
	cursor: pointer;
	background: #EAF0F8 url("../img/disc.png") 42px 6px no-repeat;
}

.menu-3 a:hover {
	background:  #EAF0F8 url("../img/disc.png") 56px 6px no-repeat;
	text-indent: 76px;
}

.imagen-cabecera {
	background: url('../img/chevron.png') no-repeat 0 0;
	border: none;
	height: 14px;
	cursor: default;
	position: absolute;
	right: 8px;
	top: 10px;
	width: 14px
}

.cabecera-2 .imagen-cabecera {
	left: 13px;
}

.cabecera-3 .imagen-cabecera {
	left: 24px
}

a.lm,a.lm:hover {
	
}

.menu-1 a.tiene-items, .menu-1 a.tiene-items:hover {
	font-weight: bold;
	background-image: url('../img/triangle.png')
}


